.workout-plan {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.workout-plan h3 {
  color: #3498db;
}

.workout-plan ul {
  list-style-type: none;
  padding: 0;
}

.workout-plan li {
  background-color: #ecf0f1;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
}